main {background-color:blanchedalmond}
h1 {font: normal normal 700 36px /1.2 cursive; background-color:lemonchiffon; color:teal}
section
article
p {border: 5px solid ivory; background-color:palelime; color:brown}
aside {font: itallic normal 700 16px cursive; color:darkred }
